@font-face {
  src         : url('../fonts/Dosis-ExtraLight.ttf');
  font-family : "Dosis";
}

@font-face {
  src         : url('../fonts/Dosis-Book.ttf');
  font-family : "Dosis Book";
}

@media (max-width: 600px) {
  html {
    height : 100%;
  }

  body {
    display         : flex;
    align-items     : center;
    width           : 100%;
    height          : 100%;
    margin          : 0;
    overflow        : hidden;
    background      : #91ba7f;
    font-family     : "Dosis";
    font-size       : 16px;
  }

  .container {
    display        : inline-flex;
    flex-direction : column;
    flex-wrap      : wrap;
    width          : 100%;
    margin         : auto;
    background     : url('../img/background.jpg') no-repeat 50% 0%;
  }

  .left_side,
  .right_side {
    width : 100%;
  }

  .left_side {}

  .screen {
    display : none;
  }

  .state {
    flex-basis  : auto;
    background  : rgba(46, 28, 37, 0.79);
    color       : #fff;
    font-size   : 6vw;
    line-height : 3rem;
    text-align  : center;
  }

  .state img {
    height : 5vw;
    /* padding-top: 1%; */
  }

  .date {
    background  : rgba(119, 25, 33, 0.79);
    color       : #fff;
    font-size   : 6vw;
    line-height : 3rem;
    text-align  : center;
  }
  /* right_side BEGIN */

  .right_side {
    width            : 100%;
    padding          : 0;
    border-radius    : 0;
    background-color : white;
  }

  .show_temp {
    flex-basis  : auto;
    padding     : 3% 0;
    color       : #771921;
    font-size   : 2em;
    font-weight : normal;
    text-align  : center;
  }

  .graph {
    margin     : auto;
    text-align : center;
  }

  .graph img {
    height        : 100%;
    padding       : 6% 0;
    border-top    : 1px solid #771921;
    border-bottom : 1px solid #771921;
  }

  .weather {
    flex-basis  : auto;
    padding     : 4% 0;
    font-family : "Dosis Book";
    text-align  : center;
  }

  .weather ul {
    display         : inline-flex;
    justify-content : space-around;
    width           : 75%;
    padding         : 0;
    list-style      : none;
    text-align      : center;
  }

  .weekday {
    padding       : 5%;
    border-bottom : 1px solid #771921;
    color         : #771921;
    font-size     : 6vw;
    text-align    : center;
  }

  span.day {
    display    : block;
    margin-top : 15%;
    color      : #771921;
    font-size  : 4vw;
  }

  span.night {
    display    : block;
    margin-top : 10%;
    color      : #000;
    font-size  : 4vw;
  }
}

@media(min-width: 600px) {
  html {
    height : 100%;
  }

  body {
    display         : flex;
    align-items     : center;
    height          : 100%;
    background      : url('../img/background.jpg') no-repeat;
    background-size : 100%;
    font-family     : "Dosis";
    font-size       : 16px;
  }

  .container {
    display         : inline-flex;
    flex-direction  : row;
    align-content   : center;
    align-items     : stretch;
    justify-content : center;
    width           : 36.350em;
    height          : 27.375em;
    margin          : auto;
    border-radius   : 0.3em;
    box-shadow      : 0px 0px 21px #363636;
  }

  .left_side,
  .right_side {
    display        : flex;
    flex-direction : column;
  }

  .left_side {
    box-sizing    : border-box;
    flex-basis    : 50%;
    border-right  : 1px solid #771921;
    border-radius : 0.3em 0 0 0.3em;
    background    : url('../img/city.jpg') no-repeat left;
  }

  .screen {
    flex-basis    : 59%;
    border-radius : 0.3em 0 0 0;
    background    : url('../img/sun.png') no-repeat center;
  }

  .state {
    flex-basis : 21%;
    background : rgba(46, 28, 37, 0.89);
  }

  .date {
    flex-basis    : 20%;
    border-radius : 0 0 0 0.3em;
    background    : rgba(119, 25, 33, 0.89);
  }

  .right_side {
    width            : 38%;
    padding          : 0 6.8%;
    border-radius    : 0 0.3em 0.3em 0;
    background-color : white;
  }

  .show_temp {
    flex-basis : 33%;
  }

  .graph {
    flex-basis    : 27%;
    padding       : 11% 0;
    border-top    : 1px solid #771921;
    border-bottom : 1px solid #771921;
  }

  .weather {
    flex-basis  : 45%;
    padding     : 4% 0;
    font-family : "Dosis Book";
  }

  .weather ul {
    display         : inline-flex;
    justify-content : space-around;
    width           : 100%;
    padding         : 0;
    list-style      : none;
  }

  .state {
    color       : #fff;
    font-size   : 2.250em;
    line-height : 2.583em;
    text-align  : center;
  }

  .state img {
    display : none;
  }

  .date {
    color       : #fff;
    font-size   : 1.4em;
    line-height : 4.9em;
    text-align  : center;
  }

  .weather ul {
    text-align : center;
  }

  span.day {
    display     : flex;
    padding-top : 20%;
    color       : #771921;
  }

  span.night {
    display    : flex;
    margin-top : 15%;
    color      : #000;
  }

  .weekday {
    padding-top    : 25%;
    padding-bottom : 22%;
    border-bottom  : 1px solid #771921;
    color          : #771921;
  }

  .show_temp {
    padding-top : 6%;
    color       : #771921;
    font-size   : 6.313em;
    font-weight : normal;
    text-align  : center;
  }
}
