/* fonts begin */

@font-face {
  src         : url('../fonts/Dosis-ExtraLight.ttf');
  font-family : "Dosis";
}

@font-face {
  src         : url('../fonts/Dosis-Book.ttf');
  font-family : "Dosis Book";
}

/* fonts end */

@media (max-width: 600px) {
  body {
    width           : 100%;
    height          : 100%;
    margin          : 0;
    overflow        : hidden;
    background      : url('../img/background.jpg');
    background-size : 100%;
    font-family     : "Dosis";
    font-size       : 16px;
  }

  .container {
    display : block;
    margin  : auto;
  }
  /* left_side begin */

  .container .left_side {
    width      : 100%;
    margin-top : 5%;
    float      : left;
    background : url('../img/background.jpg') no-repeat;
  }

  .container .left_side:after {
    display : table;
    clear   : both;
    content : "";
  }
  /* screen-sun begin */

  .screen {}

  .screen img {}
  /* creen-sun end */
  /* state begin */

  .state {
    background  : rgba(46, 28, 37, 0.89);
    color       : #fff;
    font-size   : 6vw;
    line-height : 3rem;
    text-align  : center;
  }

  .state img {
    height : 5vw;
  }
  /* state end */
  /* date begin */

  .date {
    background  : rgba(119, 25, 33, 0.89);
    color       : #fff;
    font-size   : 6vw;
    line-height : 3rem;
    text-align  : center;
  }
  /* date end */
  /* left_side end */
  /* right_side begin */

  .container .right_side {
    width            : 100%;
    float            : left;
    background-color : #fff;
    text-align       : center;
  }

  .container .right_side:before {
    display : table;
    clear   : both;
    content : "";
  }

  .show_temp {
    padding     : 3% 0;
    padding-top : 6%;
    color       : #771921;
    font-size   : 2em;
    font-weight : normal;
    text-align  : center;
  }
  /* graph begin */

  .graph {
    margin     : auto;
    text-align : center;
  }

  .graph img {
    height        : 100%;
    padding       : 6% 0;
    border-top    : 1px solid #771921;
    border-bottom : 1px solid #771921;
  }
  /* graph end */
  /* weather begin */

  .weather {
    margin      : auto;
    padding     : 4% 0;
    font-family : "Dosis Book";
    text-align  : center;
  }
  /* list begin */

  .weather ul {
    width      : 75%;
    margin     : auto;
    padding    : 0;
    list-style : none;
    text-align : center;
  }

  .weather ul li {
    display      : inline-block;
    width        : 18vw;
    margin-right : 10vw;
    float        : left;
    text-align   : center;
  }

  .weather ul li:nth-last-child(1) {
    margin-right : 0px;
  }

  .clearfix:after {
    display : table;
    clear   : both;
    content : "";
  }
  /* list end */
  /* list-content-begin */

  .weekday {
    padding       : 5%;
    border-bottom : 1px solid #771921;
    color         : #771921;
    font-size     : 6vw;
    text-align    : center;
  }

  .temp {}

  span.day {
    display    : block;
    margin-top : 15%;
    color      : #771921;
    font-size  : 4vw;
  }

  span.night {
    display        : block;
    margin-top     : 10%;
    padding-bottom : 25%;
    color          : #000;
    font-size      : 4vw;
  }
  /* list-content-end */
  /* weather end */
  /* right side end */
}

@media (min-width: 600px) {
  body {
    background            : url('../img/background.jpg') no-repeat 50% 0%;
    background-attachment : fixed;
    background-size       : 100%;
    font-family           : "Dosis";
    font-size             : 16px;
  }

  .container {
    display       : block;
    position      : absolute;
    top           : 50%;
    left          : 50%;
    width         : 36.350em;
    height        : 27.375em;
    margin        : auto;
    transform     : translate(-50%,-50%);
    border-radius : 0.3em;
    box-shadow    : 0px 0px 21px #363636;
  }
  /* left_side begin */

  .container .left_side {
    box-sizing    : border-box;
    width         : 50%;
    height        : 100%;
    float         : left;
    overflow      : hidden;
    border-right  : 1px solid #771921;
    border-radius : 0.3em 0 0 0.3em;
    background    : url('../img/city.jpg') no-repeat left;
    /* background-size: 100%; */
  }
  /* screen-sun begin */

  .screen {
    /* height: 15em; */
    height     : 54.7%;
    background : url('../img/sun.png') no-repeat center;
    text-align : center;
  }

  .screen:before {
    display        : inline-block;
    height         : 100%;
    content        : "";
    vertical-align : middle;
  }

  .screen img {
    display        : inline-block;
    vertical-align : middle;
  }
  /* creen-sun end */
  /* state begin */

  .state {
    /* height: 2.583em; */
    height     : 21.26%;
    background : rgba(46, 28, 37, 0.89);
    color      : #fff;
    font-size  : 2.250em;
    text-align : center;
  }

  .state span {
    line-height : 2.583em;
  }

  .state img {
    display : none;
  }
  /* state end */
  /* date begin */

  .date {
    /* height: 4.9em; */
    height     : 24.2%;
    background : rgba(119, 25, 33, 0.89);
    color      : #fff;
    font-size  : 1.4em;
    text-align : center;
  }

  .date span {
    line-height : 4.9em;
  }
  /* date end */
  /* left_side end */
  /* right_side begin */

  .container .right_side {
    width            : 36.4%;
    height           : 100%;
    margin           : auto;
    padding          : 0 6.8%;
    float            : right;
    overflow         : hidden;
    border-radius    : 0 0.3em 0.3em 0;
    background-color : #fff;
    text-align       : center;
  }

  .show_temp {
    padding-top : 6%;
    color       : #771921;
    font-size   : 6.313em;
    font-weight : normal;
    text-align  : center;
  }
  /* graph begin */

  .graph {
    height        : 22%;
    border-top    : 1px solid #771921;
    border-bottom : 1px solid #771921;
    background    : url('../img/graph.png') no-repeat 50%;
  }

  .graph img {
    display : none;
  }
  /* graph end */
  /* weather begin */

  .weather {
    padding     : 4% 0;
    font-family : "Dosis Book";
  }
  /* list begin */

  .weather ul {
    width      : 100%;
    padding    : 0;
    list-style : none;
    text-align : center;
  }

  .weather ul li {
    display      : inline-block;
    width        : 3.125em;
    margin-right : 14.57%;
    float        : left;
    text-align   : center;
  }

  .weather ul li:nth-last-child(1) {
    margin-right : 0px;
  }

  .clearfix:after {
    display : table;
    clear   : both;
    content : "";
  }
  /* list end */
  /* list-content-begin */

  .icon {}

  .weekday {
    padding-top    : 25%;
    padding-bottom : 22%;
    border-bottom  : 1px solid #771921;
    color          : #771921;
  }

  .temp {}

  span.day {
    display     : inline-block;
    padding-top : 20%;
    color       : #771921;
  }

  span.night {
    display    : inline-block;
    margin-top : 15%;
    color      : #000;
  }
  /* list-content-end */
  /* weather end */
  /* right side end */
}
