/* fonts begin */
@font-face {
  font-family : "Dosis";
  src         : url('../fonts/Dosis-ExtraLight.ttf');
}

@font-face {
  font-family : "Dosis Book";
  src         : url('../fonts/Dosis-Book.ttf');
}
/* fonts end */

body {
  background      : url('../img/background.jpg') no-repeat 50% 0%;
  background-size : 100%;
  font-family     : "Dosis";
}

.container {
  display       : block;
  position      : absolute;
  top           : 50%;
  left          : 50%;
  width         : 36.350em;
  height        : 27.375em;
  margin        : auto;
  border-radius : 0.3em;
  box-shadow    : 0px 0px 21px #363636;
  transform     : translate(-50%,-50%);
}

/* left_side begin */

.container .left_side {
  box-sizing    : border-box;
  width         : 50%;
  height        : 100%;
  float         : left;
  overflow      : hidden;
  border-right  : 1px solid #771921;
  border-radius : 0.3em 0 0 0.3em;
  background    : url('../img/city.jpg') no-repeat left;
  /* background-size: 100%; */
}

/* screen-sun begin */

.screen {
  /* height: 15em; */
  height     : 54.7%;
  background : url('../img/sun.png') no-repeat center;
  text-align : center;
}

.screen:before {
  content        : "";
  display        : inline-block;
  height         : 100%;
  vertical-align : middle;
}

.screen img {
  display        : inline-block;
  vertical-align : middle;
}

/* creen-sun end */

/* state begin */

.state {
  /* height: 2.583em; */
  height     : 21.26%;
  color      : #fff;
  background : rgba(46, 28, 37, 0.89);
  text-align : center;
  font-size  : 2.250em;
}

.state span {
  line-height : 2.583em;
}

/* state end */

/* date begin */

.date {
  /* height: 4.9em; */
  height     : 24.2%;
  color      : #fff;
  background : rgba(119, 25, 33, 0.89);
  text-align : center;
  font-size  : 1.4em;
}

.date span {
  line-height : 4.9em;
}

/* date end */

/* left_side end */

/* right_side begin */

.container .right_side {
  width            : 36.4%;
  height           : 100%;
  float            : right;
  margin           : auto;
  padding          : 0 6.8%;
  overflow         : hidden;
  border-radius    : 0 0.3em 0.3em 0;
  background-color : #fff;
  text-align       : center;
}

.show_temp {
  padding-top : 6%;
  color       : #771921;
  text-align  : center;
  font-size   : 6.313em;
  font-weight : normal;
}

/* graph begin */

.graph {
  border-top     : 1px solid #771921;
  border-bottom  : 1px solid #771921;
  background: url('../img/graph.png') no-repeat 50%;
  height: 22%;
}

.graph img {
  /*width : 100%;*/
}

/* graph end */

/* weather begin */

.weather {
  padding     : 4% 0;
  font-family : "Dosis Book";
}

/* list begin */

.weather ul {
  width      : 100%;
  padding    : 0;
  text-align : center;
  list-style : none;
}

.weather ul li {
  display      : inline-block;
  width        : 3.125em;
  float        : left;
  margin-right : 14.57%;
  text-align   : center;
}

.weather ul li:nth-last-child(1) {
  margin-right : 0px;
}

.clearfix:after {
  content : "";
  display : table;
  clear   : both;
}

/* list end */

/* list-content-begin */

.icon {}

.weekday {
  padding-top    : 25%;
  padding-bottom : 22%;
  color          : #771921;
  border-bottom  : 1px solid #771921;
}

.temp {}

span.day {
  display     : inline-block;
  padding-top : 20%;
  color       : #771921;
}

span.night {
  display    : inline-block;
  margin-top : 15%;
  color      : #000;
}

/* list-content-end */

/* weather end */

/* right side end */
